<html>
  <head>
  	<script src="/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="/stretch-goal.css">
  </head>
	<body>
		<div id="custom-sg">
		  <div id="sg-explain">
		  	<%- explain %>
		  </div>
		  <div id="sg-display">
		    <div id="sg-progress">
		    	<div id="sg-progress-bar"></div>
		    </div>
		    <div id="sg-meta">
		    	<div id="sg-percent">
		    		<div class="sg-meta-value"><%- percent %>%</div>
		    		<div class="sg-meta-msg">funded</div>
		    	</div>
		    	<div id="sg-goal">
		    		<div class="sg-meta-value"><%- goal %></div>
		    		<div class="sg-meta-msg">stretch goal</div>
		    	</div>
		    	<div id="sg-tag">
		    		made with ks-stretch-goal.herokuapp.com
		    	</div>
		    </div>
		  </div>
		</div>
		<script>
			Number.prototype.formatMoney = function(c, d, t, v){
			  var n = this, 
			  c = isNaN(c = Math.abs(c)) ? 2 : c, 
			  d = d == undefined ? "." : d, 
			  t = t == undefined ? "," : t, 
			  s = n < 0 ? "-" : "", 
			  i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
			  j = (j = i.length) > 3 ? j % 3 : 0;
			  var out = s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");

			  if(v!=undefined){
			  	out = v+out;
			  }
			  return out; 
			};

			var goal = (<%- goal %>).formatMoney(0, '.', ',', '<%- currency %>');
			$("#sg-goal .sg-meta-value").html(goal);

      $("#sg-progress-bar").css("width", "<%- percent %>%");
		</script>
	</body>
</html>